<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DevWall - Developer's Personal Blog</title>
    
        <!--
            - favicon
        -->
        <link rel="shortcut icon" href="./static/images/favicon.ico" type="image/x-icon">
    
        <!--
            - custom css link
        -->
        <link rel="stylesheet" href="./static/css/style.min.css">
    
        <!--
            - google font link
        -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap" rel="stylesheet">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha512-2OV6Zvq3hQKjUYB8WWH2Q2vwPQPb6tRaV7WdO6fvV7Cj1gY9yV/0QDxJ6wGD/6bDIm8VdWzBv/NgjL1G9Nr5Mg==" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>

    <body class="light-theme">
        {% block content %} {% endblock %}
        <!--
            - custom js link
        -->
        <script src="./static/js/script.min.js"></script>

        <!--
                - ionicon link
            -->
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>



        <footer>

            <div class="container">
    
                <div class="wrapper">
    
                    <a href="#" class="footer-logo">
                        <img src="./static/images/logo2.pn" alt="DevWall's Logo" width="150" height="40"
                            >
                        <img src="./static/images/logo-dark.svg" alt="DevWall's Logo" width="150" height="40"
                            class="logo-dark">
                    </a>
    
                    <p class="footer-text">
                        Learn about Web accessibility, Web performance, and Database management.
                    </p>
    
                </div>
    
                <div class="wrapper">
    
                    <p class="footer-title">Quick Links</p>
    
                    <ul>
    
                        <li>
                            <a href="#" class="footer-link">Advertise with us</a>
                        </li>
    
                        <li>
                            <a href="#" class="footer-link">About Us</a>
                        </li>
    
                        <li>
                            <a href="#" class="footer-link">Contact Us</a>
                        </li>
    
                    </ul>
    
                </div>
    
                <div class="wrapper">
    
                    <p class="footer-title">Legal Stuff</p>
    
                    <ul>
    
                        <li>
                            <a href="#" class="footer-link">Privacy Notice</a>
                        </li>
    
                        <li>
                            <a href="#" class="footer-link">Cookie Policy</a>
                        </li>
    
                        <li>
                            <a href="#" class="footer-link">Terms Of Use</a>
                        </li>
    
                    </ul>
    
                </div>
    
            </div>
    
            <p class="copyright">
                &copy; Copyright 2022 <a href="#">yelosolutions</a>
            </p>
    
        </footer>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <script>
            let mode = localStorage.getItem('mode')
        
            if (mode === 'dark') {
                document.body.classList.add('dark-mode')
            }
        
            const toggleMode = document.getElementById('toggleMode')
        
            toggleMode.addEventListener('click', () => {
                if (mode === 'dark') {
                    document.body.classList.remove('dark-mode')
                    localStorage.setItem('mode', 'light')
                    mode = 'light'
                } else {
                    document.body.classList.add('dark-mode')
                    localStorage.setItem('mode', 'dark')
                    mode = 'dark'
                }
            })
        </script>
    </body>
</html>