{% extends 'base.html' %}

{% block content %}
        
        <div class="container mt-5">
            <h1 class="text-center mb-4">Sign In</h1>
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    
                    <form method="POST">
                        <div class="shadow-lg p-3 mb-5 bg-body rounded">
                            <img src="{{ url_for('static', filename='images/logo-light.svg') }}" class="img-align: centre" style= "width:200px" alt="logo">
                            <br/>
                            <hr>
                            {{ form.hidden_tag() }}
                            <p>
                                {{ form.username.label(
                                    class="form-label") }} <br>
                                {{ form.username(
                                    class="form-control") }}<br>
                                {% for error in form.username.errors %}
                                <span style="color:red;">[{{ error }}]</span>
                                {% endfor %}
                            </p>
                            <p>
                                {{ form.password.label(
                                    class="form-label") }} <br>
                                {{ form.password(
                                    class="form-control") }}<br>
                                {% for error in form.password.errors %}
                                <span style="color:red;">[{{ error }}]</span>
                                {% endfor %}
                            </p>
                            <p> {{ form.remember_me() }} 
                                {{ form.remember_me.label(
                                    class="form-label") }}</p>
                            <p> {{ form.submit(class="btn btn-outline-info") }}</p>
                            <p>
                                New User?
                                <a href="#"> Click to Register!</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}