{% extends 'base.html' %}

{% block content %}

<main>
    <div class="container">
        <h2 class="text-center mt-3 mb-3">My Portfolio</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Idustrial Attachment Management System</h5>
                        <p class="card-text">
                            An Industrial Attachment Management System(IAMS) is a complete web application. 
                            IAMS implements data storage, a back-end and a front-end interfacing.
                            It enables undergraduate students to select a company,apply for attachment 
                            and register their details and of their supervisors. It links 
                            industries with learning institutions, easing the placement of students in 
                            workplaces for the acquisition of practical skills and appropriate work-ethics.
                            
                            A student will therefore be able to easily apply for an attachment position and
                            get placed to the respective institutions or industries.
                        </p>
                        <a target="_blank" href="https://github.com/yelosolutions" class="btn btn-outline-info">View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
