{% extends 'base.html' %}

{% block content %}
    <div class="profile shadow-lg p-3  mx-5 mb-5 bg-body rounded" >
        <img src="{{ url_for('static', filename='images/profile1.jpg') }}" class="rounded" style = "width: 100%" alt="boy profile">
        <div class="container">
            <p>ID: {{ current_user.id }}</p>
            <p>NAME: {{ current_user.username }}</p>
            <p>
                Email: {{ current_user.email }}
                <i class="bx bx-envelope"></i>
            </p>
            <p>
                Date and Time added : {{ current_user.date_added }}
                <i class="bx bx-calendar"></i>
            </p>
        </div>        
    </div>
    <br><br>

    <h1>User Profile</h1>
    <h2>Name: name</h2>
    <h2>Location: location </h2>
    <h2>Skills: skills</h2>
    <h2>Interests: interests</h2>
    <form action="/profile/update" method="POST">
        <label>Name:</label>
        <input type="text" name="name" placeholder="name" >
        <label>Location:</label>
        <input type="text" name="location" placeholder="user location">
        <label>Skills:</label>
        <input type="text" name="skills" placeholder="user skills">
        <label>Interests:</label>
        <input type="text" name="interests" placeholder="user interests">
        <button type="submit">Update Profile</button>
    </form>
{% endblock %}