{% extends 'base.html' %}

{% block content %}
<main>

    <!--
    - #HERO SECTION
    -->

    <div class="hero">

        <div class="container">

            <div class="left">

                <h1 class="h1">
                    Hi, I'm <b>Joseph&nbsp;Rono</b>.
                    <br>Web Developer
                </h1>

                <p class="h3">
                    I have specialised is Ecommerce web development.
                </p>

                <div class="btn-group">
                    <a href="#" class="btn btn-primary">Contact Me</a>
                    <a href="#" class="btn btn-secondary">About Me</a>
                </div>

            </div>

            <div class="right">

                <div class="pattern-bg"></div>
                <div class="img-box">
                    <img src="./static/images/hero2.png" alt="Joseph Rono" class="hero-img">
                    <div class="shape shape-1"></div>
                    <div class="shape shape-2"></div>
                </div>
                

            </div>

        </div>
        <div class="profile shadow-lg p-3  mx-5 mb-5 bg-body rounded" >
        
            <table>
                <tr valign="top">
                    <td><img src="{{ current_user.avatar(128) }}"></td><br>
                    
                </tr>
            </table>
            <div>
                <h1 class="h1">User: {{ current_user.username }}</h1>
                <h1 class="h1">Id: {{ current_user.id }}</h1>
                <h1 class="h1">Email: {{ current_user.email }}</h1>
            </div>     
        </div>
        <br><br>

    </div>

    
</main>
{% endblock %}